<header class="flex flex-wrap justify-between items-center fixed top-0 left-0 w-full shadow-md z-50 p-4 bg-gray-800 text-white ">
    <a href="#home" class="ml-4 mb-2 sm:mb-0"><img src="public/coding.png" class="w-10 h-10" alt="Logo"></a>
    <div class="flex flex-wrap justify-center gap-4 sm:gap-6 font-bold text-base sm:text-lg mb-2 sm:mb-0">
        <a href="#home">Home</a>
        <a href="#about">About</a>
        <a href="#skills">Skills</a>
        <a href="#projects">Projects</a>
        <a href="#contact">Contact</a>
    </div>
    <!-- Dark Mode Toggle -->
    <button (click)="toggleTheme()" class="theme-toggle">
        <mat-icon *ngIf="isDarkMode" class="text-gray-200">dark_mode</mat-icon>
        <mat-icon *ngIf="!isDarkMode" class="text-yellow-300">light_mode</mat-icon>
    </button>
</header>