<div class="gap-5 mx-auto">
    <h2 class="flex justify-center text-3xl font-bold pt-28">Skills</h2>
    <div class="flex flex-wrap text-black gap-3 justify-center">
        <mat-card class="skill-card" *ngFor="let category of skills">
            <mat-card-header>
                <mat-card-title>
                    <mat-icon>{{category.icon}}</mat-icon>
                    {{category.category}}
                </mat-card-title>
            </mat-card-header>
            
            <mat-card-content>
                <div class="flex flex-wrap gap-4 m-1 hover:scale-110 transition-transform duration-200 p-4">
                    <img
                      *ngFor="let tech of category.skills"
                      [src]="tech.logo"
                      [alt]="tech.name"
                      [matTooltip]="tech.name"
                      class="w-9 h-9"
                    />
                  </div>
                  
            </mat-card-content>
        </mat-card>
    </div>
</div>
